p{
  color:Blue;
}
ol{
  color:Purple;
}
p{
  Color:purple
ol{
  Color:green 
ul{
  Color:blue
ul{
  Color:green 
h1{
  Color:blue 
h1{
  Color:teal
header{
  Color:blue
header{
  Color:silver
body{
  Color:blue
body{
  Color:green
footer{
  Color:blue
footer{
  Color:green
