h1 {
  color: #FFF !important;
  font-size: 2em;
  padding-top: 100px;
}
ol {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  }
ul{
 font-size: 22px;
  line-height: 24px;
  }
h1{
   width: 70%;
  font-family: Georgia;
  }
header{
  line-height: 1.3em;
  text-align: left;
  }
body{
  Color:green
footer{
  Color:green
